<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7B693gvU6HuLbebaPON41-Dsh7hL1L4I</string>
	<key>GCM_SENDER_ID</key>
	<string>716939522540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>socialappflutter-810b2</string>
	<key>STORAGE_BUCKET</key>
	<string>socialappflutter-810b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716939522540:ios:140b26c8b16e7a83c1d0c9</string>
</dict>
</plist>